.contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactBanner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-small);
    background-color: rgb(var(--accent-color-light-rgb));
    color: white;
    padding-block: var(--padding-block-medium);
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding-inline-start: var(--padding-inline-xlarge);
}

.contactTitle {
    font-size: var(--font-size-large);
    font-weight: bold;
}

.contactSubtitle {
    font-size: var(--font-size-small);
}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: calc(100% + var(--padding-block-medium) * 2);
    position: relative;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
}

.contactImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contactInfoContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-medium);
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    align-items: center;
    justify-content: center;
    margin-block-end: var(--padding-block-large);
    background-color: white;
    border: 1px solid rgb(var(--accent-color-light-rgb));
    width: 95%;
    margin-block-start: var(--padding-block-large);
    position: relative;
}

.contactDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
}

.contactDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    align-items: flex-start;
    justify-content: center;
}

.contactText {
    font-size: var(--font-size-small);
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
}

.inputItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    align-items: flex-start;
    justify-content: center;
    color: rgb(var(--text-color-rgb));
}

.formLabel {
    font-size: var(--font-size-small);
    font-weight: bold;
}

.formInput {
    width: 100%;
    padding-inline: var(--padding-inline-small);
    padding-block: var(--padding-block-small);
    border: none;
    background-color: rgb(246, 246, 246);
    border-radius: var(--border-radius-xsmall);
}

.formInput:focus {
    outline: 1px solid rgb(var(--accent-color-light-rgb), 0.5);
}

.formButton {
    background-color: rgb(var(--accent-color-light-rgb));
    color: white;
    padding-inline: var(--padding-inline-medium);
    padding-block: var(--padding-block-medium);
    border: none;
    border-radius: var(--border-radius-xsmall);
    font-size: var(--font-size-small);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(200, 200, 200);
}

@media screen and (min-width: 600px) {
    .contactBanner {
        padding-block: 0;
        max-width: 1200px;
        gap: var(--gap-large);
    }

    .titleContainer {
        padding-inline-start: var(--padding-inline-x2large);
    }

    .imageContainer {
        height: 100%;
        max-height: 300px;
    }

    .contactTitle {
        font-size: var(--font-size-x2large);
    }

    .contactSubtitle {
        font-size: var(--font-size-medium);
    }

    .contactInfoContainer {
        border: 1px solid rgb(var(--accent-color-light-rgb));
        margin-block-start: -1.5em;
        max-width: 1100px;
        z-index: 3;
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    .contactInfoContainer {
        margin-block-start: -4em;
    }
}
