.footer {
    width: 100%;
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    background-color: rgb(var(--accent-color-light-rgb));
    color: black;
    font-size: var(--font-size-small);
    margin-block-start: auto;
}

.footerList {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    justify-content: center;
    align-items: center;
    color: white;
}

.footerTitle {
    font-size: var(--font-size-medium);
    font-weight: bold;
}
